body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.selectImage{
  position: relative;
}
.selectImage select{
  appearance: none;
  -moz-appearance: none;
-webkit-appearance: none;
background:none;
}
.selectImage:after{
  position: absolute;
  content: "";
  background-image: url("./assets/images/select.png");
  background-repeat: no-repeat;
  height: 6px;
  width: 10px;
  right: 10px;
  top: 17px;
  background-position: 100%;
}